<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoyoungpc.myapplication">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity"
                  android:largeHeap = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter><!-- ATTENTION: This intent was auto-generated. Follow instructions at
  https://g.co/AppIndexing/AndroidStudio to publish your URLs. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary. -->
                <data
                    android:host="[ENTER-YOUR-HTTP-HOST-HERE]"
                    android:pathPrefix="/main"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name = ".SubActivity"
                  android:largeHeap = "true"/>
        <activity
            android:name=".CameraActivity"
            android:largeHeap = "true"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <activity android:name = ".EnglishTTSActivity"/>
        <activity android:name = ".TempActivity"/>



        <activity
            android:name="org.ispeech.iSpeechFramework"
            android:configChanges="orientation|keyboard"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="ispeech_api_key"
            android:value="f9cd3381bb057bf923ee5b06d84fbb23" />
        <meta-data
            android:name="debug"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>